@import "basic", @import "variables", @import "mixin", @import "extend";

/* スマホのスタイル */
 
body {
  @include fz(16px);
}


#header {
  @include mt(1em);
  @include h(20px); 
}

.hedaerNavLinkBox {
  @include mb(30px);
}

.home-link {
  @extend .td-n;
  @extend .d-b;
  @include fz(36px);
  @include c(#333);
}

#footer {
  @include p(15px 0);
  ul {
    @extend .lis-n;
    @extend .ta-c;
    li {
      @extend .d-ib-all;
      @include pl(1em);
    }
  }
}
 
.jumbotron {
  @extend .ta-c;
  @include mt(10px);
  .form-control {
    @include h(52px);
    @include fz(30px);
  }
}

.neet-name {
  @include pr(3em);
}

.answer-box {
  @extend .ta-c;
  @include m(30px 0 60px);
  .btn {
    @include mt(10px);
  }
}

.enter-questions {
  @extend .ta-c;
  @include m(30px 0 40px);
}

.summary-chart-neet-name {
  @extend .ta-c;
}

.box-wrapper {
  @include m(10px 0 40px);
}

.readmore {
  @include m(10px 0);
}

.box {
   @extend .ta-c;
   h3 {
     @extend .ta-l;
   }
  .box-text {
     @extend .ta-l;
   }
}

.neet-chart-image {
  
}

.member-box {
  @include mt(3em);
  @include bgc(#eee);
}

.question-text {
  @include mb(40px);
}

.progress-chart-of-questions-box {
  @extend .ta-c;
  .progress-text-of-questions-box {
    @include pt(15px);
  }
  .progress {
    @include mt(15px);
  }
}

/* タブレットのスタイル */
 
@media all and (min-width: 480px) {
   
}
 
/* PCのスタイル */
 
@media all and (min-width: 768px) and (min-width: 900px) {
  .container { width: 900px; }
   
}  
