@import "basic", "variables", "mixin", "extend";

#header {
  @include m(1em 0 0);
  @include mih(20px); 
}

.hedaerNavLinkBox {
  @include mb(30px);
}

.home-link {
  @extend .td-n;
  @extend .d-b;
  @include fz(36px);
  @include c(#333);
}

#footer {
  @include p(15px 0);
  ul {
    @extend .lis-n;
    @extend .ta-c;
    li {
      @extend .d-ib-all;
      @include pl(1em);
    }
  }
}
 
.jumbotron {
  @extend .ta-c;
  @include mt(10px);
  .form-control {
    @include h(52px);
    @include fz(30px);
  }
}

.answer-box {
  @extend .ta-c;
  @include m(30px 0 60px);
  .btn {
    @include mt(10px);
  }
}

.enter-questions {
  @extend .ta-c;
  @include m(30px 0 40px);
}

.summary-chart-neet-name {
  @extend .ta-c;
}

.box-wrapper {
  @include m(10px 0 40px);
}

.readmore {
  @include m(10px 0);
}

.box {
   @extend .ta-c;
   h3 {
     @extend .ta-l;
   }
  .box-text {
     @extend .ta-l;
   }
}

.neet-chart-image {
  @include m(0 auto);
    
}

.member-box {
  @include mt(3em);
  @include bgc(#eee);
  @include bdrs-all(4px);
}

.question-text {
  @include fz(24px);
  @include mb(40px);
}

.shannon-part {
  @include bgc(#eee);  
  @include bdrs-all(4px);  
  @include fz(20px);  
  @include mb(15px);  
  @include p(15px 15px 10px);  
}

.progress-chart-of-questions-box {
  @extend .ta-c;
  .progress-text-of-questions-box {
    @include pt(15px);
  }
  .progress {
    @include mt(15px);
  }
}

.footer-adarea {
  @extend .ta-c;
  @include mb(15px);
}

#social_box{
  background:none;
  @include m(20px 0 10px);
  @include mih(76px);
  list-style:none;
  @extend .ta-c;
  li {
    @extend .d-ib-all;
    padding:0px 5px;
    background:none;
  }
}

@media all and (min-width: 480px) {
  .shannon-part {
    @include mr(10px);
    @include ml(10px);
  }
}
.container { 
  @include bdl(1px solid #eee);
  @include bdr(1px solid #eee);
}
@media all and (min-width: 768px) and (min-width: 980px) {
  .container { width: 970px; }
}  

.imgsmall1 {
	height: floor(320px / 2 / 3);
	width: floor(248px / 2 / 3);
}

.imgsmall2 {
	height: floor(320px / 3 / 3);
	width: floor(248px / 3 / 3);
}

.imgsmall3, .imgsmall4 {
	height: floor(320px / 4 / 3);
	width: floor(248px / 4 / 3);
}

.imgsmall3c {
	height: floor(320px / 4 / 3);
	width: floor(248px / 4 / 3);
	margin-left: floor(320px / 4 / 3 / 2);
}

.imglarge1 {
	height: floor(320px / 2);
	width: floor(248px / 2);
}

.imglarge2 {
	height: floor(320px / 3);
	width: floor(248px / 3);
}

.imglarge3, .imglarge4 {
	height: floor(320px / 4);
	width: floor(248px / 4);
}

.imglarge3c {
	height: floor(320px / 4);
	width: floor(248px / 4);
	margin-left: floor(320px / 8);
}
