.pos-s {
  position: static; }

.pos-a {
  position: absolute; }

.pos-r {
  position: relative; }

.pos-f {
  position: fixed; }

.t-a {
  top: auto; }

.r-a {
  right: auto; }

.b-a {
  bottom: auto; }

.l-a {
  left: auto; }

.z-a {
  z-index: auto; }

.fl-n {
  float: none; }

.fl-l {
  float: left; }

.fl-r {
  float: right; }

.cl-n {
  clear: none; }

.cl-l {
  clear: left; }

.cl-r {
  clear: right; }

.cl-b {
  clear: both; }

.d-n {
  display: none; }

.d-b, .home-link {
  display: block; }

.d-i {
  display: inline; }

.d-ib, .d-ib-all, #footer ul li, #social_box li {
  display: inline-block; }

.d-mib {
  display: -moz-inline-box; }

.d-mis {
  display: -moz-inline-stack; }

.d-li {
  display: list-item; }

.d-ri {
  display: run-in; }

.d-cp {
  display: compact; }

.d-tb {
  display: table; }

.d-itb {
  display: inline-table; }

.d-tbcp {
  display: table-caption; }

.d-tbcl {
  display: table-column; }

.d-tbclg {
  display: table-column-group; }

.d-tbhg {
  display: table-header-group; }

.d-tbfg {
  display: table-footer-group; }

.d-tbr {
  display: table-row; }

.d-tbrg {
  display: table-row-group; }

.d-tbc {
  display: table-cell; }

.v-v {
  visibility: visible; }

.v-h {
  visibility: hidden; }

.v-c {
  visibility: collapse; }

.ov-v {
  overflow: visible; }

.ov-h {
  overflow: hidden; }

.ov-s {
  overflow: scroll; }

.ov-a {
  overflow: auto; }

.ovx-v {
  overflow-x: visible; }

.ovx-h {
  overflow-x: hidden; }

.ovx-s {
  overflow-x: scroll; }

.ovx-a {
  overflow-x: auto; }

.ovy-v {
  overflow-y: visible; }

.ovy-h {
  overflow-y: hidden; }

.ovy-s {
  overflow-y: scroll; }

.ovy-a {
  overflow-y: auto; }

.ovs-a {
  overflow-style: auto; }

.ovs-s {
  overflow-style: scrollbar; }

.ovs-p {
  overflow-style: panner; }

.ovs-m {
  overflow-style: move; }

.ovs-mq {
  overflow-style: marquee; }

.zoo {
  zoom: 1; }

.cp-a {
  clip: auto; }

.cp-r {
  clip: rect(0); }

.bxz-cb {
  box-sizing: content-box; }

.bxz-bb {
  box-sizing: border-box; }

.bxsh-n {
  box-shadow: none; }

.bxsh_ {
  box-shadow: 0 0 0 #000; }

.bxsh-w_ {
  -webkit-box-shadow: 0 0 0 #000; }

.m-a {
  margin: auto; }

.m-0 {
  margin: 0; }

.m-2 {
  margin: 0 0; }

.m-3 {
  margin: 0 0 0; }

.m-4 {
  margin: 0 0 0 0; }

.mt-a {
  margin-top: auto; }

.mr-a {
  margin-right: auto; }

.mb-a {
  margin-bottom: auto; }

.ml-a {
  margin-left: auto; }

.p-0 {
  padding: 0; }

.p-2 {
  padding: 0 0; }

.p-3 {
  padding: 0 0 0; }

.p-4 {
  padding: 0 0 0 0; }

.w-a {
  width: auto; }

.h-a {
  height: auto; }

.maw-n {
  max-width: none; }

.mah-n {
  max-height: none; }

.o-n {
  outline: none; }

.o_ {
  outline: 1px solid #000; }

.oc {
  outline-color: #000; }

.oc-i {
  outline-color: invert; }

.bd-n {
  border: none; }

.bd_ {
  border: 1px solid #000; }

.bdbk-c {
  border-break: close; }

.bdcl-c {
  border-collapse: collapse; }

.bdcl-s {
  border-collapse: separate; }

.bdi-n {
  border-image: none; }

.bdti-n {
  border-top-image: none; }

.bdri-n {
  border-right-image: none; }

.bdbi-n {
  border-bottom-image: none; }

.bdli-n {
  border-left-image: none; }

.bdci-n {
  border-corner-image: none; }

.bdci-c {
  border-corner-image: continue; }

.bdtli-n {
  border-top-left-image: none; }

.bdtli-c {
  border-top-left-image: continue; }

.bdtri-n {
  border-top-right-image: none; }

.bdtri-c {
  border-top-right-image: continue; }

.bdbri-n {
  border-bottom-right-image: none; }

.bdbri-c {
  border-bottom-right-image: continue; }

.bdbli-n {
  border-bottom-left-image: none; }

.bdbli-c {
  border-bottom-left-image: continue; }

.bdf-c {
  border-fit: clip; }

.bdf-r {
  border-fit: repeat; }

.bdf-sc {
  border-fit: scale; }

.bdf-st {
  border-fit: stretch; }

.bdf-ow {
  border-fit: overwrite; }

.bdf-of {
  border-fit: overflow; }

.bdf-sp {
  border-fit: space; }

.bdlt-a {
  border-length: auto; }

.bds-n {
  border-style: none; }

.bds-h {
  border-style: hidden; }

.bds-dt {
  border-style: dotted; }

.bds-ds {
  border-style: dashed; }

.bds-s {
  border-style: solid; }

.bds-db {
  border-style: double; }

.bds-dtds {
  border-style: dot-dash; }

.bds-dtdtds {
  border-style: dot-dot-dash; }

.bds-w {
  border-style: wave; }

.bds-g {
  border-style: groove; }

.bds-r {
  border-style: ridge; }

.bds-i {
  border-style: inset; }

.bds-o {
  border-style: outset; }

.bdt-n {
  border-top: none; }

.bdt_ {
  border-top: 1px solid #000; }

.bdts-n {
  border-top-style: none; }

.bdtc {
  border-top-color: #000; }

.bdr-n {
  border-right: none; }

.bdr_ {
  border-right: 1px solid #000; }

.bdrs-n {
  border-right-style: none; }

.bdrc {
  border-right-color: #000; }

.bdb-n {
  border-bottom: none; }

.bdb_ {
  border-bottom: 1px solid #000; }

.bdbs-n {
  border-bottom-style: none; }

.bdbc {
  border-bottom-color: #000; }

.bdl-n {
  border-left: none; }

.bdl_ {
  border-left: 1px solid #000; }

.bdls-n {
  border-left-style: none; }

.bdlc {
  border-left-color: #000; }

.bg-n {
  background: none; }

.bgc-t {
  background-color: transparent; }

.bgi-n {
  background-image: none; }

.bgr-r {
  background-repeat: repeat; }

.bgr-x {
  background-repeat: repeat-x; }

.bgr-y {
  background-repeat: repeat-y; }

.bgr-n {
  background-repeat: no-repeat; }

.bga-f {
  background-attachment: fixed; }

.bga-s {
  background-attachment: scroll; }

.bgp {
  background-position: 0 0; }

.bgbk-bb {
  background-break: bounding-box; }

.bgbk-eb {
  background-break: each-box; }

.bgbk-c {
  background-break: continuous; }

.bgcp-bb {
  background-clip: border-box; }

.bgcp-pb {
  background-clip: padding-box; }

.bgcp-cb {
  background-clip: content-box; }

.bgcp-nc {
  background-clip: no-clip; }

.bgo-pb {
  background-origin: padding-box; }

.bgo-bb {
  background-origin: border-box; }

.bgo-cb {
  background-origin: content-box; }

.bgz-a {
  background-size: auto; }

.bgz-ct {
  background-size: contain; }

.bgz-cv {
  background-size: cover; }

.c {
  color: #000; }

.tbl-a {
  table-layout: auto; }

.tbl-f {
  table-layout: fixed; }

.cps-t {
  caption-side: top; }

.cps-b {
  caption-side: bottom; }

.ec-s {
  empty-cells: show; }

.ec-h {
  empty-cells: hide; }

.lis-n, #footer ul {
  list-style: none; }

.lisp-i {
  list-style-position: inside; }

.lisp-o {
  list-style-position: outside; }

.list-n {
  list-style-type: none; }

.list-d {
  list-style-type: disc; }

.list-c {
  list-style-type: circle; }

.list-s {
  list-style-type: square; }

.list-dc {
  list-style-type: decimal; }

.list-dclz {
  list-style-type: decimal-leading-zero; }

.list-lr {
  list-style-type: lower-roman; }

.list-ur {
  list-style-type: upper-roman; }

.lisi-n {
  list-style-image: none; }

.q-n {
  quotes: none; }

.q-ru {
  quotes: "\00AB" "\00BB" "\201E" "\201C"; }

.q-en {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

.ct-n {
  content: normal; }

.ct-oq {
  content: open-quote; }

.ct-noq {
  content: no-open-quote; }

.ct-cq {
  content: close-quote; }

.ct-ncq {
  content: no-close-quote; }

.va-sup {
  vertical-align: super; }

.va-t {
  vertical-align: top; }

.va-tt {
  vertical-align: text-top; }

.va-m {
  vertical-align: middle; }

.va-bl {
  vertical-align: baseline; }

.va-b {
  vertical-align: bottom; }

.va-tb {
  vertical-align: text-bottom; }

.va-sub {
  vertical-align: sub; }

.ta-l, .box h3, .box .box-text {
  text-align: left; }

.ta-c, #footer ul, .jumbotron, .answer-box, .enter-questions, .summary-chart-neet-name, .box, .progress-chart-of-questions-box, .footer-adarea, #social_box {
  text-align: center; }

.ta-r {
  text-align: right; }

.ta-j {
  text-align: justify; }

.tal-a {
  text-align-last: auto; }

.tal-l {
  text-align-last: left; }

.tal-c {
  text-align-last: center; }

.tal-r {
  text-align-last: right; }

.td-n, .home-link {
  text-decoration: none; }

.td-o {
  text-decoration: overline; }

.td-l {
  text-decoration: line-through; }

.td-u {
  text-decoration: underline; }

.te-n {
  text-emphasis: none; }

.te-ac {
  text-emphasis: accent; }

.te-dt {
  text-emphasis: dot; }

.te-c {
  text-emphasis: circle; }

.te-ds {
  text-emphasis: disc; }

.te-b {
  text-emphasis: before; }

.te-a {
  text-emphasis: after; }

.th-a {
  text-height: auto; }

.th-f {
  text-height: font-size; }

.th-t {
  text-height: text-size; }

.th-m {
  text-height: max-size; }

.ti-- {
  text-indent: -9999px; }

.tj-a {
  text-justify: auto; }

.tj-iw {
  text-justify: inter-word; }

.tj-ii {
  text-justify: inter-ideograph; }

.tj-ic {
  text-justify: inter-cluster; }

.tj-d {
  text-justify: distribute; }

.tj-k {
  text-justify: kashida; }

.tj-t {
  text-justify: tibetan; }

.to-n {
  text-outline: none; }

.to_ {
  text-outline: 0 0 #000; }

.tr-n {
  text-replace: none; }

.tt-n {
  text-transform: none; }

.tt-u {
  text-transform: uppercase; }

.tt-c {
  text-transform: capitalize; }

.tt-l {
  text-transform: lowercase; }

.tw-n {
  text-wrap: normal; }

.tw-no {
  text-wrap: none; }

.tw-u {
  text-wrap: unrestricted; }

.tw-s {
  text-wrap: suppress; }

.tsh-n {
  text-shadow: none; }

.tsh_ {
  text-shadow: 0 0 0 #000; }

.whs-n {
  white-space: normal; }

.whs-p {
  white-space: pre; }

.whs-nw {
  white-space: nowrap; }

.whs-pw {
  white-space: pre-wrap; }

.whs-pl {
  white-space: pre-line; }

.whsc-n {
  white-space-collapse: normal; }

.whsc-k {
  white-space-collapse: keep-all; }

.whsc-l {
  white-space-collapse: loose; }

.whsc-bs {
  white-space-collapse: break-strict; }

.whsc-ba {
  white-space-collapse: break-all; }

.wob-n {
  word-break: normal; }

.wob-k {
  word-break: keep-all; }

.wob-l {
  word-break: loose; }

.wob-bs {
  word-break: break-strict; }

.wob-ba {
  word-break: break-all; }

.wow-n {
  word-wrap: normal; }

.wow-no {
  word-wrap: none; }

.wow-u {
  word-wrap: unrestricted; }

.wow-s {
  word-wrap: suppress; }

.fw-n {
  font-weight: normal; }

.fw-b {
  font-weight: bold; }

.fw-br {
  font-weight: bolder; }

.fw-lr {
  font-weight: lighter; }

.fs-n {
  font-style: normal; }

.fs-i {
  font-style: italic; }

.fs-o {
  font-style: oblique; }

.fv-n {
  font-variant: normal; }

.fv-sc {
  font-variant: small-caps; }

.fza-n {
  font-size-adjust: none; }

.fef-n {
  font-effect: none; }

.fef-eg {
  font-effect: engrave; }

.fef-eb {
  font-effect: emboss; }

.fef-o {
  font-effect: outline; }

.femp-b {
  font-emphasize-position: before; }

.femp-a {
  font-emphasize-position: after; }

.fems-n {
  font-emphasize-style: none; }

.fems-ac {
  font-emphasize-style: accent; }

.fems-dt {
  font-emphasize-style: dot; }

.fems-c {
  font-emphasize-style: circle; }

.fems-ds {
  font-emphasize-style: disc; }

.fsm-a {
  font-smooth: auto; }

.fsm-n {
  font-smooth: never; }

.fsm-aw {
  font-smooth: always; }

.fst-n {
  font-stretch: normal; }

.fst-uc {
  font-stretch: ultra-condensed; }

.fst-ec {
  font-stretch: extra-condensed; }

.fst-c {
  font-stretch: condensed; }

.fst-sc {
  font-stretch: semi-condensed; }

.fst-se {
  font-stretch: semi-expanded; }

.fst-e {
  font-stretch: expanded; }

.fst-ee {
  font-stretch: extra-expanded; }

.fst-ue {
  font-stretch: ultra-expanded; }

.rz-n {
  resize: none; }

.rz-b {
  resize: both; }

.rz-h {
  resize: horizontal; }

.rz-v {
  resize: vertical; }

.cur-a {
  cursor: auto; }

.cur-d {
  cursor: default; }

.cur-c {
  cursor: crosshair; }

.cur-ha {
  cursor: hand; }

.cur-he {
  cursor: help; }

.cur-m {
  cursor: move; }

.cur-p {
  cursor: pointer; }

.cur-t {
  cursor: text; }

.pgbb-a {
  page-break-before: auto; }

.pgbb-aw {
  page-break-before: always; }

.pgbb-l {
  page-break-before: left; }

.pgbb-r {
  page-break-before: right; }

.pgbi-a {
  page-break-inside: auto; }

.pgbi-av {
  page-break-inside: avoid; }

.pgba-a {
  page-break-after: auto; }

.pgba-aw {
  page-break-after: always; }

.pgba-l {
  page-break-after: left; }

.pgba-r {
  page-break-after: right; }

.ff-s {
  font-family: Georgia,'Times New Roman',serif; }

.ff-ss {
  font-family: Helvetica,Arial,sans-serif; }

.ff-c {
  font-family: 'Monotype Corsiva','Comic Sans MS',cursive; }

.ff-f {
  font-family: Capitals,Impact,fantasy; }

.ff-m {
  font-family: Monaco,'Courier New',monospace; }

.d-ib-all, #footer ul li, #social_box li {
  *display: inline;
  *zoom: 1; }

#header {
  margin: 1em 0 0;
  min-height: 20px; }

.hedaerNavLinkBox {
  margin-bottom: 30px; }

.home-link {
  font-size: 36px;
  color: #333333; }

#footer {
  padding: 15px 0; }
  #footer ul li {
    padding-left: 1em; }

.jumbotron {
  margin-top: 10px; }
  .jumbotron .form-control {
    height: 52px;
    font-size: 30px; }

.answer-box {
  margin: 30px 0 60px; }
  .answer-box .btn {
    margin-top: 10px; }

.enter-questions {
  margin: 30px 0 40px; }

.box-wrapper {
  margin: 10px 0 40px; }

.readmore {
  margin: 10px 0; }

.neet-chart-image {
  margin: 0 auto; }

.member-box {
  margin-top: 3em;
  background-color: #eeeeee;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px; }

.question-text {
  font-size: 24px;
  margin-bottom: 40px; }

.shannon-part {
  background-color: #eeeeee;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  font-size: 20px;
  margin-bottom: 15px;
  padding: 15px 15px 10px; }

.progress-chart-of-questions-box .progress-text-of-questions-box {
  padding-top: 15px; }
.progress-chart-of-questions-box .progress {
  margin-top: 15px; }

.footer-adarea {
  margin-bottom: 15px; }

#social_box {
  background: none;
  margin: 20px 0 10px;
  min-height: 76px;
  list-style: none; }
  #social_box li {
    padding: 0px 5px;
    background: none; }

@media all and (min-width: 480px) {
  .shannon-part {
    margin-right: 10px;
    margin-left: 10px; } }
.container {
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee; }

@media all and (min-width: 768px) and (min-width: 980px) {
  .container {
    width: 970px; } }
.imgsmall1 {
  height: 53px;
  width: 41px; }

.imgsmall2 {
  height: 35px;
  width: 27px; }

.imgsmall3, .imgsmall4 {
  height: 26px;
  width: 20px; }

.imgsmall3c {
  height: 26px;
  width: 20px;
  margin-left: 13px; }

.imglarge1 {
  height: 160px;
  width: 124px; }

.imglarge2 {
  height: 106px;
  width: 82px; }

.imglarge3, .imglarge4 {
  height: 80px;
  width: 62px; }

.imglarge3c {
  height: 80px;
  width: 62px;
  margin-left: 40px; }
